<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h4> Edit Category</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form action="" [formGroup] = "frEditCategory" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="id">ID</label>
          <input type="text" name="id" id="id" class="form-control" formControlName = "id" disabled>

        </div>
        <div class="form-group">
          <label for="categoryName">Category Name</label>
          <input type="text" name="categoryName" id="categoryName" class="form-control" formControlName = "cateName">

        </div>
        <button type="submit" class="btn btn-primary  mr-2" [disabled] ="!frEditCategory.valid">
          <i class="fas fa-save"></i>
          <span> Save</span>
        </button>
        <button type="button" class="btn btn-secondary" (click)="goBack()">
          <i class="fas fa-ban"></i>
          <span> Cancel</span>
        </button>
      </form>
    </div>
  </div>
</div>
