<h1 mat-dialog-title>Create a new Product</h1>
<form action="" [formGroup]="frNewProduct">
  <div mat-dialog-content>

    <div class="form-group" *ngIf="product">
      <label for="id">Product ID</label>
      <input type="text" name="id" id="id" class="form-control" formControlName="id" readonly>
    </div>
    <div class="form-group">
      <label for="productName">Product Name</label>
      <input type="text" name="productName" id="productName" class="form-control" formControlName="productName">
    </div>
    <div class="form-group">
      <label for="priceProduct">Price Product</label>
      <input type="text" name="priceProduct" id="priceProduct" class="form-control" formControlName="priceProduct">
    </div>
    <div class="form-group">
      <label for="quantityProduct">Quantity Product</label>
      <input type="text" name="quantityProduct" id="quantityProduct" class="form-control"
        formControlName="quantityProduct">
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select name="category" class="form-control" formControlName="category">
        <option [ngValue]="null">Choose Category</option>
        <option *ngFor="let category of categories" [ngValue]="category.id">
          {{category.cateName}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="brand">Brand</label>
      <select name="brand" id="brand" class="form-control" formControlName="brand" >
        <option [ngValue]="null">Choose Brand</option>
        <option *ngFor="let brand of brands" [ngValue]="brand.id">{{brand.brandName}} </option>
      </select>
    </div>



  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="Close()">
      <i class="material-icons">
        cancel
      </i>
      Cancel</button>
    <button mat-raised-button color="primary" (click)="Save()">
      <i class="material-icons">
        save
      </i>
      Save</button>
  </div>
</form>
