<div class="container-fluid my-5">
  <div class="row">

    <div class="col-md-12 text-right ">
      <button mat-raised-button color="primary" (click)="openDetailInfoNew()">+ CREATE A NEW ORDER DETAIL INFO</button>


    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Order Detail Info</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table mat-table [dataSource]="orderDetailInfos">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let orderDetailInfo;">{{orderDetailInfo.id}} </td>
        </ng-container>

        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef> Product Name </th>
          <td mat-cell *matCellDef="let orderDetailInfo">{{orderDetailInfo.productName}} </td>
        </ng-container>

        <ng-container matColumnDef="priceProduct">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let orderDetailInfo">{{orderDetailInfo.priceProduct}} </td>
        </ng-container>

        <ng-container matColumnDef="quantityProduct">
          <th mat-header-cell *matHeaderCellDef> Quantity Order</th>
          <td mat-cell *matCellDef="let orderDetailInfo">{{orderDetailInfo.quantityOrder}} </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let orderDetailInfo">{{orderDetailInfo.amount}} </td>
        </ng-container>
        <ng-container matColumnDef="orderDate">
          <th mat-header-cell *matHeaderCellDef> Order Date </th>
          <td mat-cell *matCellDef="let orderDetailInfo">{{orderDetailInfo.orderDate}} </td>
        </ng-container>
        <ng-container matColumnDef="orderInfo">
          <th mat-header-cell *matHeaderCellDef> Order Info </th>
          <td mat-cell *matCellDef="let orderDetailInfo">{{orderDetailInfo.orderInfoId}} </td>
        </ng-container>
        <!-- <ng-container matColumnDef="productId">
          <th mat-header-cell *matHeaderCellDef> Order Info </th>
          <td mat-cell *matCellDef="let orderDetailInfo">{{orderDetailInfo.orderInfoId}} </td>
        </ng-container> -->
        <!-- <ng-container matColumnDef="report">
          <th mat-header-cell *matHeaderCellDef> Report </th>
          <td mat-cell *matCellDef="let orderDetailInfo">{{orderDetailInfo.reportId}} </td>
        </ng-container> -->

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="text-right"> </th>
          <td mat-cell *matCellDef="let orderDetailInfo" class="text-right">

            <button mat-raised-button color="primary" >
              <i class="material-icons">remove_red_eye</i>
              <span>View</span>
            </button>
            <button mat-raised-button color="accent" (click) = "editOrderDetailInfo(orderDetailInfo)">
              <i class="material-icons">edit </i>
              <span>Edit</span>
            </button>
            <button mat-raised-button color="warn" (click)="deleteOrderDetailInfo(orderDetailInfo)">
              <i class="material-icons"> delete </i>
              <span>Delete</span>
            </button>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <div class="row">

  </div>


</div>
<h2>orrder detail</h2>
